html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

button.logout-btn {
    background-color: #3399ff;
    border-color: #66b2ff;
    color: #fff;
    width: 100px;
    margin: 5px;
}

button.logout-btn:hover {
    background-color: #3399ff;
    border-color: #3399ff;
}

.navbar {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

button {
    padding: 0.5rem 0.75rem;
    margin: 0.2rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    width: 100px;
    vertical-align: middle;
}

button.gewichttoevoegen-btn {
    background-color: #3399ff;
    width: 185px;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: right;
}

button.gewichttoevoegen-btn:hover {
    background-color: #0056b3;
}

button.edit-btn {
    background-color: #3399ff;
    width: 40px;
    margin: 1px;
    height: 40px;
    vertical-align: center;
    text-align: center;
}

table.custom-table {
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    border-collapse: collapse;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

table.custom-table th:nth-child(1) {
    width: 30%;
}

table.custom-table th:nth-child(2) {
    width: 30%;
}

table.custom-table th:nth-child(3) {
    width: 5%;
}